<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />                    
        <title>Reporte Municipio</title>
        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }
            
            th, td {
                text-align: left;
                padding: 8px;
            }
            
            tr:nth-child(even){background-color: #f2f2f2}
            
            th {
                background-color: #00d461;
                color:#001c38;
                text-align: center;
            }
            #title{
                text-align: center;
            }
            #first-title{
                color: #00d461;
                font-size: 1.5em;  
            }
            #last-title{
                color: #001c38;
                font-size: 1.2em;  
            }

        </style>
    </head>
    <body>
        <h1 id='title'><span id="first-title">M</span><span id="last-title">UNICIPIOS</span></h1>
        <table id='report-table'>
            <thead>
                <tr>
                    <th>FECHA CREACION</th>
                    <th>CODIGO</th>
                    <th>TEXTO</th>                    
                    <th>ESTADO</th>                    
                </tr>                
            </thead>
            <tbody>
                {% for city in cities%}
                    <tr>
                        <td>{{ city.created_at|date:'Y-m-d H:i' }}</td>
                        <td>{{ city.code }}</td>
                        <td>{{ city.text }}</td>                        
                        <td>{{ city.status_value }}</td>                        
                    </tr>
                {% endfor %}
            </tbody>            
        </table>        		
    </body>
</html>