<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <link href="/static/location/css/base.css" rel="stylesheet" media="screen">        
        <script type="text/javascript" src="/static/location/js/jquery-3.4.1.js"></script>                
        <script type="text/javascript" src="/static/location/js/base.js"></script>            
        <title>{{ title }}</title>    
    </head>
    <body>
        <div class= "alert-box" id="alert-box"></div>
        {% csrf_token %}
        {% block bodyLocation %}
		{% endblock %}		
    </body>
</html>