{% extends 'location/base.html' %}

{% block bodyLocation %} 
    <script type="text/javascript" src="/static/location/js/city.js"></script>                
    <img class='image-home' src='/static/location/images/home.png' onclick=goURL("{% url 'index' %}") />    
    <button class='new-button' onclick='openModal()'>Nuevo</button>
    <div class='crud-div'>
        <a class='crud-title'><h1><span id="first-title">M</span><span id="last-title">unicipios</span></a>
        <br>        
        <table class='list-table'>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th colspan="2">Opciones</th>
                </tr>
            </thead>
            
            <tbody>
                
                {% for city in cities %}
                    <tr></tr>
                        <td>{{ city.code }}</td>
                        <td>{{ city.text }}</td>
                        <td><button class='edit-button' onclick='editObject("{{ city.id }}")'>Editar</button></td>              
                        <td><button class='delete-button' onclick='deleteObject("{{ city.id }}")'>Eliminar</button></td>              
                    </tr>
                {% endfor %}
                
            </tbody>
            
        </table>
    </div>
    
	<div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="$('#modal').hide();">x</span>
            
            <h2 id="title-modal"></h2>                        
            <br><br>
            <input type="hidden" name="id" id="id" value="0">
            <a>Codigo</a>               
            <input type="number" name="code" id="code" value=""><br>
            <br>
            <a>Texto</a>
            <input type="text" name="text" id="text" value=""><br>
            <br>             
            <a>Estado</a>
            <select id='status' name='status'>
                <option value=''>Seleccione...</option>
                {% for status in status_choices %}
                    <option value='{{ status.0 }}'>{{ status.1 }}</option>
                {% endfor %}
            </select>
            <br><br>                        

            <button class='save-button' onclick='saveObject()'>Guardar</button>            
            
            <div id="message-modal">	</div>
            
        </div>

    </div>

{% endblock %}
