{% extends 'location/base.html' %}
{% block bodyLocation %}
<link href="/static/location/css/index.css" rel="stylesheet" media="screen">        

<table id='menu-table'>
    <thead>
        <tr>
            <th colspan="2"><h1><span id="first-title">T</span><span id="last-title">alenta365</span></h1></th>
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <td id='city'>
                <h1>Municipio</h1>
                <button onclick=goURL("{% url 'city' %}")>Gestionar</button>
                <button onclick=goNewTab("{% url 'city_report' %}")>Reporte</button>
            </td>                
            <td id='region'>
                <h1>Región</h1>
                <button onclick=goURL("{% url 'region' %}")>Gestionar</button>
                <button onclick=goNewTab("{% url 'region_report' %}")>Reporte</button>
            </td>
            
        </tr>
    </tbody>
    
</table>

{% endblock %}