{% extends 'location/base.html' %}

{% block bodyLocation %} 
    <script type="text/javascript" src="/static/location/js/region.js"></script>                
    <img class='image-home' src='/static/location/images/home.png' onclick=goURL("{% url 'index' %}") />    
    <button class='new-button' onclick='openModal()'>Nuevo</button>
    <div class='crud-div'>
        <a class='crud-title'><h1><span id="first-title">R</span><span id="last-title">egiones</span></a>
        <br>
        
        <table class='list-table'>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th colspan="3">Opciones</th>
                </tr>
            </thead>
            
            <tbody>
                
                {% for region in regions %}
                    <tr></tr>
                        <td>{{ region.code }}</td>
                        <td>{{ region.text }}</td>
                        <td><button class='edit-button' onclick='editObject("{{ region.id }}")'>Editar</button></td>                                      
                        <td><button class='delete-button' onclick='deleteObject("{{ region.id }}")'>Eliminar</button></td>              
                    </tr>
                {% endfor %}
               
            </tbody>
            
        </table>
    </div>
    
	<div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="$('#modal').hide();">x</span>
            
            <h2 id="title-modal"></h2>                        
            <br><br>
            <input type="hidden" name="id" id="id" value="0">
            <a>Codigo</a>               
            <input type="number" name="code" id="code" value=""><br>
            <br>
            <a>Texto</a>
            <input type="text" name="text" id="text" value=""><br>
            <br>     
            <h2 >Municipios</h2>                                
            <div id='cities-div'>
                <table id='cities-table'>
                    {% for cities_array in cities %}
                        <tr>
                        {% for city in cities_array %}
                            <td>
                                <label><input type="checkbox" name="city-check[]" id='cc{{ city.id }}' value='{{ city.id }}'>{{ city.text }}</label> 
                            </td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <br><br>                        
            <br><br>                        
            <br><br>                        

            <button class='save-button' onclick='saveObject()'>Guardar</button>            
            
            <div id="message-modal">	</div>
            
        </div>

    </div>

{% endblock %}
