::-webkit-scrollbar{
    width: 12px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 10px;
    background-color: #CCCCCC;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #00d461;
    background-image: -webkit-linear-gradient(90deg,transparent,rgba(0, 0, 0, 0.4) 50%,transparent,transparent)
}
body{
    background-color: #f5f5f5;
    font-family: "Quicksand";
    margin: 0;
    color: #001c38;
}
#first-title{
    color: #00d461;
    font-size: 2.2em;  
}
#last-title{
    color: #001c38;
    font-size: 1.8em;  
}

.alert-box
{
    position: absolute;
    min-height: auto;
    z-index: 4;
    min-height: 5%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;   
    box-shadow: 0px 0px 10px 5px; 
    background: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1.8em;    
    bottom: 5%;
    right: 10px;
    padding: 5px;
    display: none;        
}
.crud-div{    
    width: 100%;
    text-align: center;
    color: #00d461;
    z-index: 1;
    margin: 0;
    padding: 0;
}

.list-table{
    border-collapse: collapse;  
    position: absolute;
    left: 5%;    
    width: 90%;  
}

.list-table th, td {
    text-align: center;
    padding: 8px;
    color: black;
}

.list-table tr:nth-child(even){
    background-color: #dcebf7;
}

.list-table  th {
    background-color: #001c38;  
    color: white;      
}

.modal
{
	display: none; 
	position: fixed; 
	z-index: 3;
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(43, 41, 41); 
	background-color: rgba(43, 41, 41, 0.6); 
}

.modal-content
{
	background-color: #001c38;	
	position: absolute;
    top: 7.5%;
    left: 7.5%;	
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: none;
    border-radius: 15px 15px 15px 15px;
    box-shadow: inset 0 0 3em #001c38;    
	width: 75%;
	height: auto;
    padding: 5% 5%;
    text-align: center;	
    color: white;
}

.close
{
    color: white;
	text-shadow: 0 1px 0 #fff;
	float: right;
	font-size: 35px;
	font-weight: bold;
	position: absolute;	
    left: 90%;
    cursor: pointer;
}
.save-button{
    
    bottom: 10%;
    right: 45%;
    width: 120px;
    height: 50px; 
    cursor: pointer;  
    z-index: 3; 
    border-radius: 10px 10px 10px 10px;
    background-color: #00d461;
    color: white; 
    font-size: 24px;
} 
#cities-div{   
    position: absolute; 
    text-align: center;
    width: 90%;
    height: 20%;
    max-height: 20%;    
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: inset 0 0 1em #001c38; 
    overflow: scroll;       
    overflow-x: hidden;       
}
#cities-table{
    text-align: center;
    width: 100%;    
}
#cities-table td{
    width: 20%;
    text-align: left;
    color: #001c38; 
    font-size: 0.8em;    
}
@media screen and (max-width:640px) {    
    .crud-div{
        position: absolute;
        top: 100px;    
    }
    .image-home{
        position: absolute;
        top: 60px;
        left: 5%;
        width: 75px;
        height: 75px;   
        cursor: pointer; 
        z-index: 2;
    }
    .new-button{
        position: absolute;
        top: 100px;
        right: 4%;
        width: 90px;
        height: 40px; 
        cursor: pointer;  
        z-index: 2; 
        border-radius: 10px 10px 10px 10px;
        background-color: #00d461;
        color: white; 
        font-size: 15px;
    } 
    
    .list-table, .edit-button, .report-button, .delete-button{
        font-size: 14px;
    }
    
    .edit-button{
        width: 55px;
        height: 25px;
        border-radius: 5px 5px 5px 5px;
        background-color: #001c38;  
        color: white;  
    }
    .report-button{
        width: 55px;
        height: 25px;
        border-radius: 5px 5px 5px 5px;
        background-color: #001c38;  
        color: white;  
    }
    .delete-button{
        width: 70px;
        height: 25px;
        border-radius: 5px 5px 5px 5px;
        background-color: #bf2c2c;  
        color: white;  
    }
    .modal-content{
        font-size: 20px;
    }
    
}

@media screen and (min-width:640px) {    
    .crud-div{
        position: absolute;
        top: 100px;    
    }
    .image-home{
        position: absolute;
        top: 50px;
        left: 5%;
        width: 100px;
        height: 100px; 
        cursor: pointer;  
        z-index: 2; 
    }    
    .new-button{
        position: absolute;
        top: 100px;
        right: 5%;
        width: 120px;
        height: 50px; 
        cursor: pointer;  
        z-index: 2; 
        border-radius: 10px 10px 10px 10px;
        background-color: #00d461;
        color: white; 
        font-size: 24px;
    } 
   
    .list-table, .edit-button, .report-button, .delete-button{
        font-size: 24px;
    }   
    .edit-button{
        width: 100px;
        height: 35px;
        border-radius: 5px 5px 5px 5px;
        background-color: #001c38;  
        color: white; 
        cursor: pointer;  
    }
    .report-button{
        width: 100px;
        height: 35px;
        border-radius: 5px 5px 5px 5px;
        background-color: #001c38;  
        color: white; 
        cursor: pointer;  
    }
    .delete-button{
        width: 100px;
        height: 35px;
        border-radius: 5px 5px 5px 5px;
        background-color: #bf2c2c;  
        color: white;  
        cursor: pointer; 
    }
    .modal-content{
        font-size: 25px;
    }    
}