#menu-table{
    width: 100%; 
}

#menu-table thead tr td{    
    width: 50%;
    height: 150px;
    text-align: center;
    color: #428bca;    
}

#menu-table tbody tr td{
    width: 100%;
    height: 200px;
    display:block;
}
#menu-table tbody tr td h1{
    color: #f5f5f5;
    font-size: 50px;
}

#city{
    background-color: #00d461;
}

#region{
    background-color: #001c38;
}


#menu-table tbody tr td button{
    width: 35%;
    height: 50px;    
    font-size: 20px;
    border:none;
    border-radius: 15px 15px 15px 15px;
    box-shadow: inset 0 0 1em black;    
}

#region button {
    background-color: #00d461;
    color: #f5f5f5;
}
#city button {
    background-color: #001c38;
    color: #f5f5f5;
}
#region button:hover{    
    background-color: #00d461;
    color: #FFFFFF;
    box-shadow: inset 0 0 1em white;
    cursor: pointer;
}
#city button:hover{    
    background-color: #001c38;
    color: #FFFFFF;
    box-shadow: inset 0 0 1em white;
    cursor: pointer;
}

@media screen and (max-width:640px) {
    #menu-table tbody tr td{
        display:block;
        width:100%;
    }  
}

@media screen and (min-width:640px) {
    #menu-table tbody tr td {
        display:table-cell;
        width:50%;
    }
}